.cartContainer {
  overflow: hidden;
}

.cartHeader,
.cartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #000;
  font-family: "robotoBlack", sans-serif;
  font-weight: bold;
}

.btn {
  margin: 6px;
}

.cartItems {
  max-height: 500px;
  padding: 0 1rem 1rem 1rem;
  overflow-y: scroll;
  background-color: #eceff1;
}

.cartItems::-webkit-scrollbar {
  width: 6px;
}

.cartItems::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: rgb(146, 143, 143);
  background-color: #aaa;
}

.cartItems::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}

.cartItems::-webkit-scrollbar-track {
  border-width: 0;
}

.cartItems::-webkit-scrollbar-track:hover {
  border-left: solid 1px #aaa;
  background-color: #eee;
}

.emptycart {
  height: 100px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  font-family: "robotoBlack", sans-serif;
  font-weight: bold;
}

.cart {
  margin-left: 20px;
}

#cartIcon {
  width: 34px;
  height: 34px;
  fill: #ffffff;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

img {
  width: 100%;
}

.counter {
  position: absolute;
  right: 0;
  top: calc(100% - 16px);
  min-width: 8px;
  padding: 0 4px;
  background-color: #ff5a00;
  border-radius: 8px;
  box-sizing: content-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  }

.counterParant {
  position: relative;
}
