<header>
  <div class="headContainer" [@headerState]="hederPosition">
    <div class="container">
      <div class="logoContainer">
        <img routerLink="/" *ngIf="hederPosition == 'top'; else scrolledPage" src="./assets/icons/header-logo.png" alt="logo Erato"
          style="height : 140%; margin: 0 30px -45px 0;">
        <ng-template #scrolledPage>
          <img routerLink="/" src="./assets/icons/erato-logo-small.png" alt="logo Erato" 
            style=" height : 80%; margin: 5px 30px 5px 0;">
        </ng-template>
      </div>
      <!-- Logo -->

      <div class="wrapper">
        <div class="headerNavigator">
          <div class="navItem">
            <a href="">Главная</a>
          </div>
          <div class="navItem">
            <a href="">Магазин</a>
          </div>
          <div class="navItem">
            <a href="">Преимущества</a>
          </div>
          <div class="navItem">
            <a href="">Контакты</a>
          </div>
        </div>
        <!-- Navigation -->

        <div class="contacts">
          <a class="headerTel" href="tel:+79213327697">+7 921 332 76 97</a>
          

          <a href="" class="liked counterParant">
            <svg id="liked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 8.18l1.89 4.5.46 1.12 1.21.1 4.87.42-3.72 3.26-.9.79.27 1.17 1.11 4.81L17 21.82l-1-.64-1 .64-4.15 2.53 1.11-4.81.27-1.17-.9-.79-3.76-3.26 4.87-.42 1.21-.1.46-1.12L16 8.18M16 3l-3.73 8.91-9.54.82L10 19.09l-2.2 9.45 8.2-5 8.2 5-2.2-9.45 7.24-6.36-9.54-.82L16 3z"/></svg>
          </a>
          <app-cart></app-cart>
         
        </div>
        <!-- Contact -->

      </div>
    </div>
  </div>
</header>