header {
  position: fixed;
  z-index: 777;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

#mainLink {
  font-weight: 600;
}

.headerContainer {
  height: 65px;
  background-color: #000;
  box-sizing: border-box;

}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.auth-nav {
  display: flex;
  height: 100%;
}

.logoContainer {
  position: relative;
  width: 60px;
  margin: 0 30px -45px 0;
  box-sizing: border-box;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
}

.headerNavigator {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.auth-btn {
  margin-left: 1rem;
}

.contacts {
  display: flex;
  align-items: flex-end;
}

.headerTel {
  margin-right: 30px;
  font-size: 28px;
  font-weight: bold;
}

.cart {
  margin-left: 20px;
}

#cartIcon,
#liked {
  width: 34px;
  height: 34px;
  fill: #ffffff;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

img {
  width: 100%;
  border: none;
}

.btnColor {
  width: 30px;
  height: 30px;
}

.svgIcon {
  margin: 0 5px;
  cursor: pointer;
}

.counterParant {
  position: relative;
}

.spacer {
  height: 65px;
}
