header {
  z-index: 777;
  position: fixed;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.headerContainer {
  height: 65px;
  background-color: #000;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.logoContainer {
  position: relative;
  box-sizing: border-box;
  margin: 0 30px -45px 0;
  width: 60px;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
}

.headerNavigator {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.contacts {
  padding-bottom: 15px;
  display: flex;
  align-items: flex-end;
}

.headerTel {
  font-size: 28px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cart {
  margin-left: 20px;
}

#cartIcon,
#liked {
  width: 34px;
  height: 34px;
  fill: #ffffff;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

img {
  width: 100%;
  border: none;
}


.counter {
  background-color: #ff5a00;
  border-radius: 8px;
  box-sizing: content-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  min-width: 8px;
  padding: 0 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: calc(100% - 16px);
}

.btnColor {
  width: 30px;
  height: 30px;
}

.svgIcon {
  margin: 0 5px;
  cursor: pointer;
}

.counterParant {
  position: relative;
}

.spacer {
  height: 65px;
}

@media screen and(max-width: 1000px) {}
