header {
  z-index: 777;
  position: fixed;
  width: 100%;

  font-family: "Roboto", sans-serif;
}
.headContainer {
  background: linear-gradient(to bottom, #25211e 0%, rgba(37, 33, 30, 0) 100%);
  color: #fff;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  box-sizing: border-box;
  height: 100%;
  

  img {
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
    height: 100%;
  }
}

.headerNavigator {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.navItem {
  padding: 0 15px 20px 15px;
  font-size: 18px;
}

.contacts {
  padding-bottom: 15px;
  display: flex;
  align-items: flex-end;
}
.headerTel {
  font-size: 28px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}




.liked:hover{
    #liked {
      fill: rgb(255, 0, 0);
    }
  }


.cart{
    margin-left: 20px;
}
#cartIcon,
#liked {
  width: 34px;
  height: 34px;
  fill: #ffffff;

  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;

  img {
    width: 100%;
  }
}

.counter {
  background-color: #ff5a00;
  border-radius: 8px;
  box-sizing: content-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  min-width: 8px;
  padding: 0 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: calc(100% - 16px);
}
.btnColor {
  width: 30px;
  height: 30px;
}
.svgIcon {
  margin: 0 5px;
  cursor: pointer;
}
.counterParant{
    position: relative;
}



@media screen and(max-width: 1000px) {
}
