<div class="container">
  <h1>Login with Firebase</h1>
  <div class="container">
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput formControlName="email" type="email">

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <div class="error-wrapper">
          <span class="mat-error">{{errorMessage}}</span>
        </div>
      </mat-form-field>


      <button type="submit" class="login-btn" (click)="tryLogin(loginForm.value)" mat-raised-button
        color="primary">Login</button>
    </form>
  </div>
  <div class="row">
    <div>
      <p>No account yet? <a routerLink="/register">Create an account</a></p>
    </div>
  </div>
</div>
