<mat-card class="product">
  <img [src]="product.imgUrl" alt="productImg">
  <mat-card-content class="card-content">
    <div class="aboutProduct">
      <h3 class="productName">{{product.title}}</h3>
      <p class="productDecription overflow-visible">{{product.description}}</p>
      <div class="gradient"></div>
    </div>
    <mat-divider></mat-divider>
    <div class="infoContainer">
      <span class="price">{{product.price | currency:'USD'}}</span>
      <div class="buttons">
        <a [routerLink]="['/product', product.key]">
          <button mat-stroked-button class=" btn">
            more
          </button>
        </a>
        <button mat-mini-fab class="btnColor"
          (click)="this.cartService.addTocart(product); this.productsService.showToast(product.title + ' added to cart' , product.materials)">
          <mat-icon>shopping_cart </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- <section #notificationBlock></section> -->
