.container {
  font-family: "Roboto", sans-serif;
}

form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  margin: 1rem;
  text-align: center;
}

h1 {
  margin: 2rem;
  font-size: 1.25rem;
  text-align: center;
}
