.productsContainer {
  display: flex;
  flex-direction: row;
}


.productsListContainer {
  height: 90vh;
  padding: 0px 2rem;
  overflow-y: scroll;
  flex-shrink: 0;
}

.controllContainer {
  margin: 0 1rem;
}

::-webkit-scrollbar {
  display: none;
}
