.itemContainer {
  position: relative;
  display: flex;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  color: #000;
}


.itemContainer:last-child {
  margin-bottom: 20px;
}
.item-img {
  width: 100px;
  height: 100px;
  flex-basis: 100px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center -22px;
  background-size: cover;
}

.itemTitle {
  margin: 0 10px 0 20px;
  flex-basis: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.itemText {
  margin-top: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
.quantityControllBtn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  opacity: 0.3;
}
.quantityControllBtn:hover {
  opacity: 1;
}
.itemControllBar {
  width: 200px;
  margin-left: auto;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  flex-basis: 200px;
}
.itemQuantity {
    width: 30px;
    text-align: center;
}
.itemPrice {
  width: 70px;
  text-align: center;
}
