.counter {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 8px;
  padding: 0 4px;
  background-color: #ff5a00;
  border-radius: 8px;
  box-sizing: content-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.counterParant {
  position: relative;
}

.auth-btn {
  margin-left: 3rem;
}

#iconContainer {
  position: relative;
  margin-bottom: 15px;
}

#cartIcon {
  width: 34px;
  height: 34px;
  fill: #ffffff;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  cursor: pointer;
}
