.counter {
  background-color: #ff5a00;
  border-radius: 8px;
  box-sizing: content-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  min-width: 8px;
  padding: 0 4px;
  position: absolute;
  left: calc(100% - 30px);
  text-align: center;
  top: calc(100% - 30px);
}

.counterParant {
  position: relative;
}

#cartIcon {
  width: 34px;
  height: 34px;
  fill: #ffffff;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  cursor: pointer;

}
