h2 {
  margin: 50px 0 0px 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #858585;
}

.productsContainer {
  margin: 85px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4em;

  /* grid-template-rows: repeat(2, 100px); */
}
