<div class="slider">
  <app-slide *ngFor="let slide of this.slides" [slide]="slide">
  </app-slide>

  <div class="sliderButtons">
    <div class="slideButton left" (click)="leftClick()">
      <div class="imgContainer">
        <img src="./assets/icons/left-arrow.svg" alt="left">
      </div>

    </div>
    <div class="slideButton right" (click)="rightClick($event)">
      <div class="imgContainer">
        <img src="./assets/icons/right-arrow.svg" alt="right">
      </div>
    </div>
  </div>
  <ul class="sliderDots">
    <li *ngFor="let slide of this.slides; let i = index" class="sliderDot" #dot (click)="toSlide(i)"
      [class.activeDot]="slide === this.service.activeSlide">
    </li>
  </ul>
</div>
