.container {
  padding-top: 2rem;
  display: flex;

}

#aboutProduct {
  margin: 0 0 4rem 4rem;
  width: 40%;
  font-family: 'Roboto';
}

img {
  height: 70vh;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#materials {
  margin-bottom: 1rem;
  width: 50%;
  color: #777777;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}

#price {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.productDescription {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1.25rem;
}

#addBtn {
  background-color: black !important;
  color: #fff;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .container {
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  #aboutProduct {
    margin: 0 auto 4rem auto;
    width: 100%;
  }

  h3,
  #aboutProduct,
  #materials,
  .productDescription {
    width: 100%;

  }

  h3 {
    margin-top: 2rem;
    text-align: center;
  }

  #addBtn {
    width: 100%;
  }


}
