.container {
  padding-top: 2rem;
  display: flex;
}

#aboutProduct {
  margin-left: 4rem;
  width: 40%;
  font-family: 'Roboto';
}

img {
  /* position: absolute;
  z-index: 9999; */
  /* top: 0; */
  height: 70vh;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#materials {
  margin-bottom: 1rem;
  width: 50%;
  color: #777777;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}

#price {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.productDescription {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1.25rem;
}

#addBtn {
  background-color: black !important;
  color: #fff;
}
